@use 'sass:color';

@use '@smui/common/theme/color-palette';

// Material colors for the calendar app (Dark).
@use '@smui/common/theme/index' as theme with (
	$primary: #7eb2fd,
	$secondary: color.scale(#64748b, $whiteness: -20%),
	$surface: #1f2937,
	$background: #111827,
	$error: color-palette.$red-400
);

html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
}

a {
	color: #7db3ff;
}
a:visited {
	color: color.scale(#7db3ff, $lightness: -30%);
}
