@use 'sass:color';

@use '@smui/common/theme/color-palette';

// Material colors for the calendar app.
@use '@smui/common/theme/index' as theme with (
	$primary: #3b82f6,
	$secondary: #64748b,
	$surface: #fff,
	$background: #f8fafc,
	$error: color-palette.$red-900
);

// Component theme styles
@use '@smui/button/style' as button;
@use '@smui/icon-button/style' as icon-button;
@use '@smui/card/style' as card;
@use '@smui/chips/style' as chips;
@use '@smui/list/style' as list;
@use '@smui/paper/style' as paper;
@use '@smui/top-app-bar/style' as top-app-bar;
@use '@smui/circular-progress/style' as circular-progress;
@use 'typography';

html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
}

a {
	color: #3b82f6;
}
a:visited {
	color: color.scale(#3b82f6, $lightness: -20%);
}
